@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
}

.main-shell {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-list {
  list-style: none;
}

.navigation-added-favorite {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button.navigation-link {
  font-size: 16px;
  line-height: 20px;
}

.hero {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sub-text {
  color: #333333;
}

.about-us {
  text-align: center;
}

.about-us-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.about-us-text {
  font-size: 18px;
  line-height: 21px;
}

.about-us-list {
  list-style: none;
}

.about-us-item {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.about-us-square,
.about-us-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.about-us-square .about-us-text,
.about-us-tourists .about-us-text,
.about-us-road .about-us-text {
  color: #333333;
}

.about-us-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages {
  text-align: center;
}

.advantages-list {
  list-style: none;
}

.advantages-house,
.advantages-gifts {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.search {
  text-align: center;
}

.button.search-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.catalog-backgound {
  background-image: url(../images/filters-background.jpg);
  background-repeat: no-repeat;
  background-color: #87B0D0;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.button.button-show {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.button.button-reset {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 20px;
}

.filter-result-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-name .hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-name {
  text-decoration: none;
}

.hotel-type,
.price {
  font-size: 18px;
  line-height: 21px;
}

.price {
  text-align: right;
}

.button.show-more-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button.add-to-favorite {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.button.added-to-favorite {
  background-color: #7DB54F;
}

.rating {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-more {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  text-align: center;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-color: #8AAAB7;
  color: #FFFFFF;
  width: 1200px;
  height: 414px;
}

.subscribe-inner {
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
}

.subscribe-inner .subscribe-text {
  color: #333333;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-form input::placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
}

.button.subscribe-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.footer-social-list {
  list-style: none;
}

.contacts-phone {
  text-align: center;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}
